@model List<WebBanSach.Models.CartModel>
<ul class="nav navbar-nav navbar-right">
    <li>
        <div class="cart" style="text-align: center; margin: 15px 30px 0 30px; ">
            <a href="/Cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="display: block; font-size: 24px; color: #7A7E7F ">(@Model.Count)</i></a>
            <a href="/Cart" style="display: block; font-size: 13px; color: #7A7E7F ">Giỏ hàng</a>
        </div>
    </li>
</ul>